.workBlock {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.headWorkBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.imgWorkBlock {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #CFD8DC;
    margin: 20px 0;
    object-fit: cover;
    cursor: pointer;
}

.headWorkBlock:hover .imgWorkBlock{
    filter: blur(2px);
    opacity: 0.8;
    transition-duration: .25s
}

.buttonWorkBlock {
    width: 120px;
    height: 50px;
    position: absolute;
    background-color: #607D8B;
    color: #CFD8DC;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, .5);
    cursor: pointer;
}
.buttonWorkBlock:hover {
    filter: none;
    transition-duration: .25s
}

.footerWorkBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.workTitle {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.description {
    color: #CFD8DC;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}