
.navMenu div{
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 100;
    color: #CFD8DC;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.navMenuSelected {
    font-weight: 300;
    color: #FFFFFF;
}
.navMenu div a {
    position: relative;
    cursor: pointer;
}
.navMenu a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #CFD8DC;
    content: "";
    transition: width 0.3s ease-out;
}
.navMenu a:hover:after,
.navMenu a:focus:after {
    width: 100%;
}

.burgerMenu {
    display: none;
}
.burgerMenu img{
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 772px){
    .burgerMenu{
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
    .navMenuPop {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 70px;
        right: 10%;
        max-width: 80%;
        max-height: 100%;
        margin: 0;
        padding: 40px 0;
        background-color: #212121;
        box-shadow: 2px 0px 4px rgba(0, 0, 0, .5);
        font-size: 16px;
        transition-duration: .25s
    }
    .navMenuPop div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navMenuHidden {
        display: block;
        position: fixed;
        visibility: hidden;
    }
    .navMenu a{
        margin: 40px 0;
        text-align: center;
    }
}