.skills {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 150px 0px;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h2 {
    width: 150px;
    text-align: center;
    color: #607D8B;
    border-bottom: 3px solid #607D8B;
    padding-bottom: 5px;
    margin-bottom: 50px;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.skillsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 1271px){
    .skillsBlock {
        flex-direction: column;
        align-items: center;
    }
}